<mat-grid-list cols="1" rowHeight="4:2">
  <mat-grid-tile>
    <mat-card class="form-card">
      <mat-card-header>
        <mat-card-title>Sign in</mat-card-title>
        <mat-card-subtitle>Sign in to access your profile</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="register-form" [formGroup]="loginForm">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Enter your password</mat-label>
          <input matInput type="password" formControlName="password" />
          <button mat-icon-button matSuffix>
            <mat-icon>{{ "visibility_off" }}</mat-icon>
          </button>
        </mat-form-field>
        <div class="form-button">
          <button
            mat-raised-button
            color="warn"
            type="button"
            (click)="onCancel()"
          >
            Cancel
          </button>
          <button
            mat-raised-button
            color="accent"
            type="submit"
            [disabled]="!loginForm.valid"
            (click)="onSubmit()"
          >
            Log in
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
